{% extends 'base.html' %}
{% block isinya %}
{% load static %}

      <section id="hero" data-aos="fade-up">
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-6 d-flex flex-column bagan-hero my-auto ">
                    <h1 class="hero-tagline">
                        About Rivo Fashion
                    </h1>
                    <span class="my-3 tagline-text">
                        Discover the art of self-expression through fashion at Rivo. We are more than just a brand; we are a celebration of individuality, style and timeless angles.
                    </span>
                </div>

                <div class="col-md-6">
                    <img src="{% static 'imgs/logo.png'%}" alt="gambar-hero" class="gambar-hero">
                </div>       
            </div>
        </div>
      </section>

      <section id="content" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <h1 class="text-center py-5">About Us</h1>
                <div class="col-md-6">
                    <img src="{% static 'imgs/ab1.jpg'%}" alt="" class="img-fluid">
                </div>
                <div class="col-md-6 my-auto">
                    <p>At Rivo, we curate fashion collections that empower you to express your unique identity. Our commitment goes beyond these trends to create work that resonates with your personal journey</p>
                </div>
            </div>

            <div class="row py-5">
                <div class="col-md-6 my-auto">
                    <p>We pride ourselves on quality workmanship and sustainable practices. Every Rivo creation is a blend of modern aesthetics and conscious production, reflecting our dedication to style and responsibility</p>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'imgs/ab2.jpg'%}" alt="" class="img-fluid">
                </div>
            </div>

            <div class="row py-5">
                <div class="col-md-6">
                    <img src="{% static 'imgs/ab3.jpg'%}" alt="" class="img-fluid">
                </div>
                <div class="col-md-6 my-auto">
                    <p>From everyday essentials to stunning clothing, Rivo is your go-to destination for fashion that speaks to a lot of things. Conclusion join us on a journey where every outfit tells a story, and style knows no boundaries.</p>
                </div>
            </div>
        </div>
      </section>

      <section id="testimon" data-aos="fade-up">
        <div class="container py-3">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 col-xl-8 text-center feed">
                    <h1 class="my-5 fs-1 ">Feedback Corner</h1>
                </div>
    
                <div class="row text-center d-flex align-items-stretch card-wraper">
                    {% for feedback in feedback_list %}
                    <div class="col-md-4 d-flex align-items-stretch justify-content-center mb-5 mb-md-0">
                        <div class="card card-kotak">
                            <div class="card-body">
                                <h5 class="card-title fs-1">"</h5>
                                <h5>{{ feedback.nama }}</h5>
                                <p class="card-text py-5">{{ feedback.feedback }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    

      {% endblock %}